table {
  border-radius: 12px;
  padding: 5px;
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;

}

th,
td {
  border-bottom: dashed 1px;
  padding: 20px;
  color: rgb(0, 0, 0);
}

th {

  text-align: left;
}

thead th {
  background-color: #da7a26cf;
}

tr:hover {
  background-color: rgb(255, 210, 168);
  cursor: pointer;
}

thead tr:hover {
  background-color: rgba(239, 156, 1, 0.978);
  cursor: pointer;
}

tbody td {
  position: relative;
}

.card {
  background-color: #f1f1f1;
  box-shadow: 5px 5px 5px gray;
  border-radius: 30px;
  padding: 40px 10px 40px 10px;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.searchTextContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding-bottom: 20px;

}

.infoIcon {
  display: flex;
  justify-content: right;
  margin-top: -20px;
}
.infoIcon:hover{
background-color: none;
}


a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
}

a {
  background: linear-gradient(0deg, orange, orange) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
.underline {
  padding-bottom: 2px;
  --bg-h: 2px;
}
a:link{
  text-decoration:dotted;
}

.material-symbols-outlined {
  vertical-align: middle;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 20;
}



