
table {
  border-radius: 12px;
  padding:5px;
  width:100%;
  border-collapse: collapse;
  overflow: scroll;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.8);
}
th,
td {
  border-bottom: dashed 1px;
  padding: 20px;
  background-color: rgba(157, 74, 74, 0.2);
  color: rgb(0, 0, 0);
}
th {
  
  text-align: left;
}
thead th {
  background-color: #da7a26cf;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
tbody td {
  position: relative;
}
