
table {
  border-radius: 12px;
  padding:5px;
  width:100%;
  border-collapse: collapse;
  overflow: scroll;
  
}

th,
td {
  border-bottom: dashed 1px;
  padding: 20px;
  color: rgb(0, 0, 0);
}
th {
  
  text-align: left;
}
thead th {
  background-color: #da7a26cf;
}
td:hover {
  background-color: rgba(255, 255, 255, 0.137);
  cursor: pointer;
}
thead tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
tbody td {
  position: relative;
}
.card {
  background-color: #f1f1f1;
  box-shadow: 5px 5px 5px gray;
  border-radius: 30px;
  padding: 40px 10px 40px 10px;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
}
