
form{
    display: flex;
    width: 800px;
    height: 650px;
    background-color: white;
    width: 60%;
    border: solid #F57D3B;
    border-radius: 8px;
    margin: auto;
    overflow: hidden;
    flex-direction: column;

}
.fields{
    FONT-WEIGHT: 600;

    margin-left: 80px;
}
article {
    padding: 40px;
}
.me {
    width: 450px;
    margin-right: 20px;
    float: left;
}
article > header {
    text-align: center;
}
label{
text-align: top;
margin-bottom: 5px;
margin-top: 20px;
}

legend {
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 100px;
    font-weight: 700;
}
input[type=text] {
    width: 70%;
    height: 100px;
    margin: 6px 0;
    box-sizing: border-box;
    padding: 12px 3px;
    display: inline-block;
}
input[id=title]{
    width: 70%;
   height: 5px;
   margin-left: 20px;
display: inline-block;


}
input[id=assignto]{
    width: 35%;
    height: 5px;
margin-left: 20px;
float: left;
margin-top: -10px;
display: inline-block;
}
label[for=assignto]{
display: inline-block;
}
select {
    width: 50%;
    margin: 8px 0;
    padding: 3px 4px;
    display: block;
margin-left: 20px;
}
textarea {
    display: block;
    margin: 12px 0;
    width: 70%;
    height: 100px;
    resize: none;
    margin-left: 20px;


}
.center {
    text-align: center;
    padding: 10px;
    margin-left: 20px;
}

input[type=submit] {
   background-color: #F57D3B;
   cursor: pointer;
   margin-top: 15px;
   border: none;
   border-radius: 5px;
   padding: 8px 10px;
   margin-left: 20px;
   width: 70%;
display: inline-block;

}

input[type=date] {
    width: 35%;
    font-size: 16px;
    padding: 10px 0;
    margin-left: 20px;
    float: left;
    display: inline-block;
}
input[type=submit]:hover{
background-color: #F57D3B;
cursor: pointer;
}
fieldset{
margin-left: 25px;
}
fieldset label{
    margin-left: 20px;
}
.category{
margin-left: 20px;
}

select{
width: 70%;
}


