<!--<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>-->

<body>
<main>
  <form name="newticketForm" [formGroup]="newticketForm" (ngSubmit)="onSubmit()">

      <legend>New task</legend>

  <div class="fields">

      <label for="category">Category</label>
      <select id="category" formControlName="category">
        <option></option>
        <option> New loan </option>
        <option> Extend loan </option>
        <option> Pay off </option>
        <option > Pay interest </option>
      </select>
      </div>
    <div class="form-floating">
      <div *ngIf="categoryIsEmpty" class="empty">
        Choose a category.
      </div>

      <div class="form-floating">
      <label for="title">Title</label>

      <input type="text" id="title" formControlName="title">

      <div *ngIf="titleIsEmpty" class="empty">
        Add a title.
      </div>
      </div>
      <div class="form-floating">
      <label for="description">Description </label>
      <textarea id="description" formControlName="description"></textarea>
      <div *ngIf="descriptionIsEmpty" class="empty">
        Add a description.
      </div>
      </div>

      <div class="form-floating">
      <label for="enddate">End date</label>
      <input type="date" id="enddate" formControlName="enddate">
      <div *ngIf="enddateIsEmpty" class="empty">
        Choose an enddate.
      </div>
        </div>

      <div class="form-floating">
      <label for="assignto">Assign to</label>
      <input type="text" id="assignto" formControlName="assignto">
      <div *ngif="assigntoIsEmpty" class="empty">
        Add a PID.
        </div>
        </div>

      <button type="submit" class="button">Submit</button>
      <br>
  </div>
  </form>
</main>
<!--
</body>

</html>-->

