<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>header</title>

</head>
<body>
<header>
  <div class="header">
    <img class="logo" src="/assets/loggo.png" width="160" align="center">
    <form>
      <div class="search" align="right">
        <input  name="s" placeholder="Search for tasks">
        <input align="right" type="submit" value="Search">
      </div>
    </form>
  </div>
</header>
</body>
</html>

