<!doctype html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>header</title>
</head>
<body>
<header>
  <div class="header">
    <img class="logo" src="/assets/loggo.png" width="180" align="center">
    <div>
      <div class="frame" >
        <a href="/overview" ><i class="margin-left fa fa-home" style="font-size:36px"></i></a>
        <a href="/unassigned" ><i class="fa fa-group" style="font-size:36px"></i></a>
        <a href="/newticket" ><i class="fa fa-plus" style="font-size:36px"></i></a>
        <a href="/statistics" ><i class="fa fa-bar-chart" style="font-size:36px"></i></a>
      </div>
      <a href="/login" type="logout" class="logoutButton"  (click)="postSignout()">Log out</a>


    </div>
  </div>
</header>
</body>
</html>

