.header{
width: 100%;
background-color: white;
height:100px;

}
.header img{
float: left;
display: fixed;
margin-top: -10px;
}
.header a{
float: left;
text-align: center;
width: 10%;
padding: 30px 0;
transition: all 0.3s ease;
color: white;
font-size: 25px;

}
.header a:hover{
background-color: #f0f2f5;
}
.active{
background-color: #F57D3B;
}

.fa.fa-home{
color: #F57D3B;

}
.fa.fa-plus{
color: #F57D3B;
}
.fa.fa-bar-chart{
color: #F57D3B;
}
.frame{
margin-left: 70px;
}
.button{
background-color: #F57D3B;
cursor: pointer;
margin-top: 25px;
border: none;
border-radius: 5px;
padding: 12px 20px;
margin-right: 100px;
float: right;

}

