<main class="form-signin">
    <div class="card">
        <div class="card-body">
            <form name="loginform" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <img class="logo" src="/assets/loggo.png" width="160">
                <div class="form-floating">
                    <label class="label" for="pid">P-ID</label>
                    <input type="text" class="form-control" name="pid" id="pid" placeholder="ex. p901xxx"
                        formControlName="pid">
                </div>
                <div class="form-floating">
                    <div *ngIf="pidHasError" class="error">
                        Enter P-ID
                    </div>
                    <label class="label" for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password"
                        placeholder=" ex. Handboll8" formControlName="password" ng-model="password" required>
                </div>
                <div *ngIf="passwordHasError" class="error">
                    Enter password
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="rememberme">
                    <label class="form-check-label" for="rememberme">Remember me</label>
                </div>
                <button type="submit" class="button-color">Sign in</button>
            </form>

        </div>
    </div>
</main>