<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <main class="form-signin">
    <div class="card">
      <div class="card-body">
        <form name="currentTask" id="currentTask">

          <div class="form-floating">

            <legend>Task </legend>
          </div>

            <a href="/overview" ><i class="margin-left fa fa-close" style="font-size:36px" ></i></a>

          <div class="form-floating">
            <label for="taskid" id="taskid">Id</label><p></p>
            <div ng-show='currentTask'>{{ currentTask.id }}
            </div>
          </div>

          <div class="two-small">
            <div class="form-floating small">
             <label for="dropdown" id="dropdown" class="category">Category</label>
              <div ng-show='currentTask'>{{ currentTask.categoryType }}</div>
			</div>



            <div class="form-floating small">
             <label for="dropdown" id="dropdown2" class="category">Priority</label>
              <div ng-show='currentTask'>{{ currentTask.priorityName }}
                </div>

          </div>
          </div>


          <div class="form-floating">
            <label for="title" id="title">Title</label>
            <div ng-show='currentTask'>{{ currentTask.title }}
            </div>
          </div>

          <div class="form-floating">
            <label for="description" id="description">Description</label>
            <div ng-show='currentTask'>{{ currentTask.description }}
            </div>
          </div>

          <div class="two-small">
            <div class="form-floating small">
              <label for="enddate" id="enddate">End date</label>
              <div ng-show='currentTask'>{{ currentTask.due }}
              </div>
            </div>

            <div class="two-small">
              <div class="form-floating small">
                <label for="creationdate" id="creationdate">Creation Date</label>
                <div ng-show='currentTask'>{{ currentTask.createdTimestamp }}
                </div>
              </div>
              </div>

            <div class="two-small2">
              <div class="form-floating small">
                <label for="edited" id="edited">Edited Date</label>
                <div ng-show='currentTask'> {{ currentTask.edited }}
                </div>
              </div>
            </div>

            <div class="two-small2">
              <div class="form-floating small">
                <label for="completed" id="completed">Completed date</label>
                <div ng-show='currentTask'> {{ currentTask.completed }}
                </div>
              </div>
            </div>

            <div class="form-floating small">
              <label for="assignto" id="assignto">Assign to</label>
              <div ng-show='currentTask'>{{ currentTask.username }}
              </div>
            </div>
          </div>

          <input href="/overview" type="complete" name="Complete" id="complete" value="Complete" class="button-color" />

        </form>
      </div>
    </div>
  </main>
</body>

