<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
</head>

<body>
  <main class="form-signin">
    <div class="card">
      <div class="card-body">
        <form name="currentTask" id="currentTask">

          <div class="form-floating">

            <legend>Task </legend>
          </div>

          <div class="form-floating">
            <label for="taskid" id="taskid">Id</label><p></p>
            <div ng-show='currentTask'>{{ currentTask.id }}
            </div>
          </div>

          <div class="two-small">
            <div class="form-floating small">
             <label for="dropdown" id="dropdown" class="category">Category</label>
              <div ng-show='currentTask'>{{ currentTask.taskCategory }} ></div>
			</div>



            <div class="form-floating small">
             <label for="dropdown" id="dropdown2" class="category">Priority</label>
              <div ng-show='currentTask'>{{ currentTask.priorityName }}
                </div>

          </div>
          </div>


          <div class="form-floating">
            <label for="title" id="title">Title</label><p>(max 50 characters)</p>
            <div ng-show='currentTask'>{{ currentTask.title }}
            </div>
          </div>

          <div class="form-floating">
            <label for="description" id="description">Description</label>
            <div ng-show='currentTask'>{{ currentTask.description }}
            </div>
          </div>

          <div class="two-small">
            <div class="form-floating small">
              <label for="enddate" id="enddate">End date</label>
              <div ng-show='currentTask'>{{ currentTask.due }}
              </div>
            </div>

            <div class="two-small">
              <div class="form-floating small">
                <label for="creationdate" id="creationdate">Creation Date</label>
                <div ng-show='currentTask'>{{ currentTask.createdTimestamp }}
                </div>
              </div>
              </div>

            <div class="form-floating small">
              <label for="assignto" id="assignto">Assign to</label>
              <div ng-show='currentTask'>{{ currentTask.username }}
              </div>
            </div>
          </div>

          <input type="submit" name="submit" id="submit" value="submit" class="button-color" />

        </form>
      </div>
    </div>
  </main>
</body>


</html>
