<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form method="post" action="" >

  <label for="taskid">Task Id</label><br />

  <label for="creationdate">Creation date</label><br />

  <label for="title">Title</label><br />
  <input type="text" name="title" id="title" placeholder="title"><br>

  <label for="description">Description</label><br />
  <input type="text" name="description" id="description" placeholder="description"><br>

  <label for="enddate">End date</label><br />
  <input type="date" name="enddate" id="enddate" placeholder="date">
  <br>

  <label for="assignto">Assign to</label><br />
  <input type="text" name="assignto" id="assignto" placeholder="assign to">
  <br>

  <input type="send" name="send" id="send" value="Submit" />

</form>
</body>
</html>
