<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <main class="form-signin">
    <div class="card">
      <div class="card-body">
        <form name="newticketForm" [formGroup]="newticketForm" (ngSubmit)="onSubmit()">

          <input type="hidden" name="id" id="id" formControlName="id">

          <div class="form-floating">
            <legend>Task {{ currentTask.id }}</legend>
          </div>

          <a href="/overview"><i class="margin-left fa fa-close" style="font-size:36px"></i></a>

          <div class="form-floating">

            <label for="taskid" id="taskid"></label>
            <p></p>
          </div>

          <div class="two-small">
            <div class="form-floating small">
              <label for="dropdown" id="dropdown" class="category">Category</label>
              <select type="dropdown " class="form-control" formControlName="priority" required>
                <option selected>{{currentTask.categoryType}} </option>
                
                <option *ngFor="let cat of var1">{{ cat.categoryType}}</option>

              </select>
           
            </div>



            <div class="form-floating small">
              <label for="dropdown" id="dropdown2" class="category">Priority</label>
              <select type="dropdown " class="form-control" formControlName="priority" required>
                <option selected>{{ currentTask.priorityName }}</option>
                <option *ngFor="let prio of var2">
                  {{ prio.priorityName }}</option>

              </select>
              <div ng-show='currentTask'>{{ currentTask.priorityName }}
              </div>

            </div>
          </div>


          <div class="form-floating">
            <label for="title" id="title"> <input type="text" value="{{ currentTask.title }}"></label>
          </div>

          <div class="form-floating">

            

            <label for="description" id="description"></label>
            <textarea id="description" formControlName="description"
              class="form-control" [(ngModel)]="currentTask.description"></textarea>
            
          </div>

          <div class="two-small">
            <div class="form-floating small">
              <label for="enddate" id="enddate">End date</label>
              <input type="date" id="enddate" formControlName="enddate" class="form-control" required>
              <div ng-show='currentTask'><i>{{ currentTask.due }}</i>
              </div>
            </div>

            <div class="two-small">
              <div class="form-floating small">
                <label for="creationdate" id="creationdate">Creation Date</label>
              
                <div ng-show='currentTask'><i>{{ currentTask.createdTimestamp }}</i>
                </div>
              </div>
            </div>

            <div class="two-small2">
              <div class="form-floating small">
                <label for="edited" id="edited">Edited Date</label>
                <div ng-show='currentTask'> <i>{{ currentTask.edited }}</i>
                </div>
              </div>
            </div>

            <div class="two-small2">
              <div class="form-floating small">
                <label for="completed" id="completed">Completed date</label>
                <div ng-show='currentTask'> <i>{{ currentTask.completed }}</i>
                </div>
              </div>
            </div>

            <div class="form-floating small">
              <label for="assignto" id="assignto">Assigned to</label>
              
              <div ng-show='currentTask'><i>{{ currentTask.username }}</i>
              </div>
            </div>
          </div>


          <a [routerLink]="['/detail', currentTask.Id]" class="editButton">SAVE</a>

        </form>
      </div>
    </div>
  </main>
</body>